{% extends "header.html" %}
{% block content %}

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
</svg>

    <div class="latest-news-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Блог</h2>
                        <p class="wow fadeInUp" data-wow-delay=".7s">Последние новости и посты</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in post_list %}
                <div class="col-lg-3 col-md-4 col-12 my-1">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp card card-cover my-auto border-0" style="border-radius:2em" data-wow-delay=".2s">
                        <div class="image" style="height: 210px;">
                            <img class="thumb" src="{{ post.webimg }}" alt="#">
                            <div class="meta-details">
                                &nbsp;<i class="bi bi-calendar-date text-white fa-lg"></i> <span>{{ post.created_on|date:"d F" }}</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a class="stretched-link nav-link mt-auto" data-bs-toggle="modal" data-bs-target="#blog-modal{{ post.id }}">{{ post.title }}</a></h4>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="modal fade" id="blog-modal{{ post.id }}" tabindex="-1" aria-labelledby="blog-modal{{ post.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg modal-fullscreen-sm-down">
    <div class="modal-content bordered border-primary border-1">
      <div class="modal-header" style="border: 0;">
          <a class="nav-link linkkk modal-title text-secondary" style="font-size:21px; margin-left: -15px" data-clipboard-text="https://want2it.online/blog.html?postid={{ post.id }}"><i class="bi bi-link-45deg"></i>&nbsp;&nbsp; <b class="modal-title text-primary h5 lang-  text-truncate" data-label="" style="font-size:21px; margin-left: -15px" id="blog-modal{{ post.id }}Label">{{ post.title }}</a></b>
        <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        {{ post.content|safe }}

      </div>
      <div class="modal-footer d-flex justify-content-between border-primary">
          <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="left" title="Полезные книги на все времена"><button type="button" style="border-radius: 24px 24px 24px 24px" class="btn btn-outline-primary lang-" data-bs-toggle="modal" data-bs-target="#blog-modal{{ post.id|add:"1" }}" data-label="">Следующий</button></div>
          <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="right" title="Полезные книги на все времена"><button type="button" style="border-radius: 24px 24px 24px 24px" class="btn btn-outline-secondary lang-" data-bs-toggle="modal" data-bs-target="#blog-modal{{ post.id|add:"-1" }}" data-label="">Предыдущий</button></div>
      </div>
    </div>
  </div>
</div>
                {% endfor %}
              </div>
        {% if is_paginated %}
    <div class="text-center mt-2">
      {% if page_obj.has_previous %}

          <a class="btn btn-outline-primary mb-4 mr-1" style="border-radius: 50%; height: 38px; width: 38px; " href="?page=1"><i class="bi bi-chevron-double-left"></i></a>
        <a class="btn btn-outline-primary mb-4 mr-1" style="border-radius: 50%; height: 38px; width: 38px; " href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-compact-left"></i></a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4 mr-1" style="border-radius: 50%; height: 38px; width: 38px; " href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4 mr-1" style="border-radius: 50%; height: 38px; width: 38px; " href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4 mr-1" style="border-radius: 50%; height: 38px; width: 38px; " href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-compact-right"></i></a>
        <a class="btn btn-outline-primary mb-4 mr-1" style="border-radius: 50%; height: 38px; width: 38px; " href="?page={{ page_obj.paginator.num_pages }}"><i class="bi bi-chevron-double-right"></i></a>
      {% endif %}
    </div>
    {% endif %}
        </div>
    </div>
{% endblock %}
