{% extends "header.html" %}
{% load static %}
{% block content %}
    <!-- Start Latest News Area -->
    <div class="latest-news-area section">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Документы</h2>
                        <p class="wow fadeInUp" data-wow-delay=".7s">Соглашения и примеры документов</p>
                    </div>
                </div>
            </div>
            <div class="row">

                    <div class="brand-logo-wrapper wow fadeInRight" data-wow-delay=".4s">
                        <ul class="brand-list neww liststyle d-flex flex-wrap justify-content-center">
                            <li class="d-none"><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-word-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Договор "месячный"</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li class="d-none"><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-word-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Договор "командный"</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li><a href="{% static 'docs/example_dogovor_notarif.docx' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-word-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Договор "стандартный"</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-word-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Акт выполненных работ</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li class="d-none"><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-spreadsheet-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Протокол согласования</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-spreadsheet-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Образец заявки на специалиста</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-person-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Согласие на обработку</h6>
                                    </div>
                                </div>
                                </a></li>
                            <li><a href="{% static 'docs/' %}" download>
                                <div class="card border-0">
                                    <img src="{% static 'images/clients/file-earmark-post-fill.svg' %}" height="66px" width="124px" alt="Brand Logo Images" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-primary">Пользовательское соглашение</h6>
                                    </div>
                                </div>
                                </a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- End Latest News Area -->

{% endblock %}

