{% extends "header.html" %}
{% load static %}

{% block content %}

    <!-- Start Latest News Area -->
    <div class="latest-news-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Открытые вакансии</h2>
                        <p class="wow fadeInUp" data-wow-delay=".7s">Вакансии открытые у наших партнеров</p>
                    </div>
                </div>
            </div>

            <div class="single-head">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3 d-none">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/cloud-abb/" class="text-primary link-light stretched-link">Cloud <br>architect <small class="text-info"><br>architect</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$3500 - 5000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>19 sep</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3 d-none">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/ea-abb/" class="text-primary link-light stretched-link">Enterprise <br>architect <small class="text-info"><br>architect</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$3500 - 5000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>19 jul</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/java-abb/" class="text-primary link-light stretched-link">Java <br>developer <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$2700 - 5000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>09 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">2 вакансии</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3 d-none">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/react-abb/" class="text-primary link-light stretched-link">Frontend <br>developer <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$2700 - 4000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>11 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3 d-none">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/clients/stormnet-logo.webp' %}"  class="mb-2 d-none d-sm-block" style="height: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/clients/stormnet-logo.webp' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/python-dev/" class="text-primary link-light stretched-link">Python <br>lector <small class="text-info"><br>middle</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$1800 - 2000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>02 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/devops-abb/" class="text-primary link-light stretched-link">DevOps <br>engineer <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$3500 - 5000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>01 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">

                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/dba-abb/" class="text-primary link-light stretched-link">DB <br>Administrator <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$1500 - 4000</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>19 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/logo/big-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/logo/big-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/sadmin-abb/" class="text-primary link-light stretched-link">System <br>administrator <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">$800 - 1500</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>20 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/clients/globalsale-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/clients/globalsale-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/marketolog-gs/" class="text-primary link-light stretched-link">Интернет <br>маркетолог <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">2000 - 3000 р.</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>26 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 position-relative my-3">
                        <div class="single-service wow fadeInUp card card-cover my-auto" data-wow-delay=".2s">
                            <img src="{% static 'images/clients/globalsale-logo.png' %}"  class="mb-2 d-none d-sm-block" style="width: 64px">
                            <div class="row"><div class="col-3 d-block d-sm-none"><img src="{% static 'images/clients/globalsale-logo.png' %}"  class="w-100"></div>
                                <div class="col-9"><strong class="h5"><a href="vacancy/salesm-gs/" class="text-primary link-light stretched-link">Менеджер<br>по продажам <small class="text-info"><br>senior</small></a></strong></div></div>
                            <hr>
                            <a href="#" class="text-dark link-dark" style="font-weight: bold">2000 - 3000 р.</a><br>
                                <figure class="text-end" style="margin-bottom: -36px;">
                                  <figcaption class="blockquote-footer text-info">
                                    <cite>26 aug</cite>
                                  </figcaption>
                                </figure>
                        </div>
                          <div class="position-absolute top-0 end-0 translate-middle badge bg-info text-dark" style="z-index: 50; font-size: 15px">1 вакансия</div>
                    </div>
                </div>
            </div>
            <br>
        </div><hr>

    </div>
    <section class="services section" style="margin-bottom: -40px; margin-top: -65px;">
        <div class="container">
            <div class="row mx-2">
                    <div class="section-title align-left">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">Не нашли подходящей вакансии?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Оставьте нам свое резюме! Как только появится что-то подходящее, мы с Вами сразу свяжемся!</p>
                                 <div class="button wow fadeInUp mt-3" data-wow-delay=".1s">
                                    <a href="upload.html" class="btn">Отправить резюме</a>
                                </div>
                    </div>
                </div>
            </div>
    </section>

      <section class="section free-version-banner vh-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">карьера в HR</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Набираем и обучаем начинающих IT-рекрутеров</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Мы обучаем начинающих специалистов на практике, даем им реальные задачи и помогаем развиваться в начале карьерного пути.</p>

                        <div class="button">
                            <a href="join.html" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Присоединиться к нам</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


{% endblock %}